<div class="card border-1 mt-3 " style="width: 18rem;">
  <div class="d-flex justify-content-center">
    <img class="card-img-top mt-2 rounded-square w-75" src="https://media-exp1.licdn.com/dms/image/C4D03AQEzRJ3fo1bA6A/profile-displayphoto-shrink_200_200/0/1601904070009?e=1612396800&v=beta&t=Yy0_MSbaQtsIwXHUzcuOS63asKZ7MTe2HydAimHwwGs" alt="Imagem de capa do card">
  </div>

  <div class="card-body">
    <h5 class="card-title text-center text-monospace">{{nome}}</h5>
    <p class="card-text text-center text-monospace">Aluno Java Jr. Fullstack - Generation Brasil</p>

    <a href="https://linkedin.com/in/mateus-oliveira-a6238b18a/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">LinkedIn</a>

    <a href="https://github.com/mastruzz" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>

  </div>
</div>
