
.parallax {
  background-image: url('https://www.10wallpaper.com/wallpaper/1366x768/1411/planet_rings_space-Abstract_widescreen_wallpaper_1366x768.jpg');

  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: initial;
}
